
.dialogo-help-mz .lui-dialog__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.dialogo-help-mz .lui-dialog__header #list-languages{
    display: flex;
    align-items: center;
    height: 32px;
    background: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    border-radius: 4px;
    padding: 0 8px;
    margin-right: 20px;
}
.dialogo-help-mz .lui-dialog__header #list-languages .item-list{
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 4px;
    width: 36px;
    height: 26px;
    border-bottom: 4px solid transparent;
    /* border-radius: 4px; */
    font-size: .8rem;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.dialogo-help-mz .lui-dialog__header #list-languages .item-list.active{
    border-bottom: 4px solid rgb(58 163 9);

}
/* .dialogo-help-mz .lui-dialog__header #list-languages .item-list.active span{
    color: #fff;
} */
.dialogo-help-mz .lui-dialog__header #list-languages .item-list span {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: .8rem;
    font-weight: lighter;
}
.dialogo-help-mz .lui-dialog__body {
    overflow: hidden;
}
.dialogo-help-mz .tab-view-wrapper {
    height: 100%;
    flex: 1;
}
.dialogo-help-mz #lui-tabview {
    border: 1px solid rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dialogo-help-mz #lui-tabview .lui-tabset .lui-tab {
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}
.dialogo-help-mz #lui-tabview .lui-tabset .lui-tab .tab-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialogo-help-mz #lui-tabview .lui-tabset .lui-tab .tab-item > i{
    font-size: 18px;
    cursor: pointer;
}

.dialogo-help-mz #lui-tabview .lui-tabset {
    /*border-left: 1px solid rgba(0,0,0,.1);*/
    border-bottom: 1px solid rgba(0,0,0,.1);
    /*border-right: 1px solid rgba(0,0,0,.1);*/
    overflow: hidden;
    min-height: 38px;
}
.dialogo-help-mz #lui-tabview .tabs-content {
    height: -webkit-calc(100% - 38px);
    height: -moz-calc(100% - 38px);
    height: calc(100% - 38px);
    padding: 20px;
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.dialogo-help-mz #lui-tabview .tabs-content iframe {
    width:100% !important;
    height:98% !important;
}

.dialogo-help-mz .lui-dialog__title img {
    max-height: 15px !important;
}

.dialogo-help-mz h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom:1rem;
}

.dialogo-help-mz .lui-dialog__header .lui-dialog__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}