/*notificationsPanel*/
#contentNotifications {
    position: fixed;
    width: 320px;
    top: 0;
    right: -320px;
    bottom: 0;
    z-index: 99999999;
    background: #fff;
}
#notificationsOver {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    right: -100%;
    z-index: 999;
    opacity: 0;
    background: var(--background-semi-transparent);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
}
#contentNotifications #headerNotifications {
    position: relative;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    z-index: 10;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    background-color: var(--main-color) !important;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
}
#contentNotifications #headerNotifications > h3{
    margin-left: 8px;
}
#contentNotifications #headerNotifications > .toRight{
    margin-left: auto;
    order: 0;
}
#contentNotifications #headerNotifications > .closeNotificationsIcon {
    cursor: pointer;
    font-size: 2.5rem;
}
#contentNotifications #headerNotifications > i {
    font-size: 1.5rem;
}
#contentNotifications #notificationsScroll {
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    overflow-x: hidden;
    padding: 5px;
    background: #F3F5F6;
}

#contentNotifications #notificationsScroll .item-notifications {
    width: 100%;
    min-height: 80px;
    /* background: #f5f5f5; */
    margin-bottom: 5px;
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
    position: relative;
}
#contentNotifications #notificationsScroll .item-notifications::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccd6d6;
    bottom: 0px;
    left: 0px;
}

#contentNotifications #notificationsScroll .item-notifications:hover {
        background: #f5f5f5;         
}

#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.12);    
    border-radius: 4px; */
}

#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 40px;
}

#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input > i {
    font-size:2rem;
    margin-top:2rem;
}

#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input > i.upIcon {
    transform: rotate(45deg);
    color: #1b8c14;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input > i.upIcon.isKo {
    color: #a50b0b;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input > i.downIcon {
    transform: rotate(135deg);
    color: #a50b0b;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-input > i.downIcon.isOk {
    transform: rotate(135deg);
    color: #1b8c14;
}


#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    flex: 1;
    font-size: 12px;
    font-family: var(--font-family);
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text h3 {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom:0.5rem;
}

#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text p {
    width: 100%;
    font-size: 0.8rem;
    line-height: 140%;
    color: #444;
    margin-bottom:0.5rem;
}


#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag {
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1;
    margin-bottom: 0.5rem;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag .tag-color {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag .tag-color[data-type=success]{
    background-color: #218838;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag .tag-color[data-type=info]{
    background-color: #138496;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag .tag-color[data-type=warning]{
    background-color: #ffc107;
}
#contentNotifications #notificationsScroll .item-notifications .item-notifications-inner .noti-text .noti-tag .tag-color[data-type=danger]{
    background-color: #dc3545;
}
