.objectstop .filtersInMenu .coverFilter .cover-object-sense{
    left: 5px;
    right: 5px;
}

.objectstop .filtersInMenu .qv-object .qv-inner-object{
    flex-direction: column;
}
#wrapperObjectsTop,
#wrapperobject{
    position: relative;
    transition: all 300ms ease-out;
}
.HIDETOPITEMS #wrapperObjectsTop{
    opacity: 0;
    visibility: hidden;
}
.SHOWTOPITEMS #wrapperObjectsTop{
    opacity: 1;
    visibility: visible;    
}
.full-size-cover-objects-top{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaderObjectTop {
    position: relative;
    width: 85px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#07284c 50px, transparent 0),
                      linear-gradient(#07284c 50px, transparent 0),
                      linear-gradient(#07284c 50px, transparent 0),
                      linear-gradient(#07284c 50px, transparent 0),
                      linear-gradient(#07284c 50px, transparent 0),
                      linear-gradient(#07284c 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    -webkit-animation: rikSpikeRoll 0.65s linear infinite alternate;
            animation: rikSpikeRoll 0.65s linear infinite alternate;
  }
@-webkit-keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

#wrapperobject .css-rnbtta {
    display: flex;
    align-items: center;
    width: 100%;
}
#wrapperobject .css-rnbtta .css-zruabp{
    width:100%
} 
    