
<div class="cover-option-object hidden-equializador">    
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect hidden-equializador" ng-controller="equalizadorCtrl" ng-class="Equalizershow == 'true' ? '' : 'd-none'" data-rel="{{ObjectId}}" ng-click="openEqualizer(ObjectId)"><i class="lui-list__aside  item-icon  lui-icon  lui-icon--control"></i></a>
    <a class="mdl-button ico-expand hidden-equializador" data-rel="{{ObjectId}}" ng-click="getFullSize($event)"><i class="ico-expand lui-icon lui-icon--expand"></i></a>
    <a class="mdl-button ico-contract hidden-equializador" ng-click="lostFullSize($event);"><i class="ico-contract lui-icon lui-icon--collapse"></i></a>
    
</div>