<div class="header-section-configurador">
    <h2>{{'views.acciones.marcadores' | translate}}</h2>    
    <span class="pin-active-visibility" ng-attr-title="{{message}}" ng-click="anclarThis($event)" ng-class="isActive == true ? 'active' : ''">
        <i class="icofont icofont-tack-pin"></i>
        <i class="icofont icofont-minus-circle pin-desanclar"></i>
    </span>
</div>
<div class="content-section-configurador">
    <div class="notificationsScroll">
        <div class="list-bookmark">
            <div class="wrapper-bookmark">
                <div class="aviso-empty" ng-if="listBookmark.length < 1">
                    {{"views.label.noBookmark" | translate}} 
                </div>
                <div class="item-bookmark" ng-if="listBookmark.length > 0" ng-repeat="bookmark in listBookmark | orderBy:['creationDate','title'] track by $index" data-rel="{{bookmark.id}}" ng-class="bookmark.active == true  ? 'active' : ''" data-default="{{bookmark.isDefaultBookmark}}">
                    <div class="content-options">
                        <div class="coverbookmar" ng-click="applyBookmark(bookmark.id, bookmark, $event)" title="{{'views.acciones.aplicarmarcadores' | translate}}"></div>
                        <div class="info-bokkmark">
                            <span class="title-bookmark">{{bookmark.title}}</span>
                            <span ng-if="bookmark.isDefaultBookmarkByUser === true" class="bm-val">{{"label.Bookmarks.StartBookmarkHint" | translate}}</span>
                            <div class="item-bookmark-description item-bookmark-info" ng-if="bookmark.description">
                                <span><span class="lui-icon lui-icon--edit"></span> {{'views.label.descripcion' | translate}}:</span>
                                {{bookmark.description}}
                            </div>
                            <div class="item-bookmark-selectionFields item-bookmark-info" ng-if="bookmark.selectionFields">
                                <span><span class="lui-icon lui-icon--database"></span> {{'views.label.selecciones' | translate}}:</span>
                                {{bookmark.selectionFields}}
                            </div>
                            <div class="item-bookmark-creationDate item-bookmark-info" ng-if="bookmark.creationDate">
                                <span><span class="lui-icon lui-icon--calendar"></span>{{'views.label.fechaCreacion' | translate}}:</span>
                                {{bookmark.creationDate}}
                            </div>
                            <div ng-if="defaultBookmarkId === bookmark.id" class="lui-tag" translate-attr="{ title: 'Tooltip.Bookmarks.StartBookmark' }">{{"label.Bookmarks.StartBookmark" | translate}}</div>
                            <div ng-if="bookmark.isDefaultBookmarkByUser === true" class="lui-tag" title="{{'label.Bookmarks.StartBookmarkUser' | translate}}">{{"label.Bookmarks.StartBookmarkUser" | translate}}</div>
                        </div>
                        <div class="options-bookmark">
                            <button class="item-option-bookmark" ng-click="deleteBookmark(bookmark.id)" title="{{'views.acciones.eliminar' | translate}}" ng-disabled="!bookmark.canDelete"><i class="lui-icon lui-icon--bin"></i></button>

                                                        <button ng-if="bookmark.canPublish && bookmark.published==false" class="item-option-bookmark" ng-click="publishBookmark(bookmark, 0)" title="{{'views.acciones.publicarmarcador' | translate}}"><i style="color: #0eb921" class="lui-icon lui-icon--unlock"></i></button>
                            <button ng-if="bookmark.canPublish && bookmark.published==true" class="item-option-bookmark" class="item-option-bookmark" ng-click="unPublishBookmark(bookmark, 1)" title="{{'views.acciones.despublicarmarcador' | translate}}" ng-disabled="Usuario != bookmark.ownername"><i style="color: #ce2121" class="lui-icon lui-icon--lock"></i></button>




                                                                                    <button class="item-option-bookmark" ng-click="editBookmark(bookmark.id, bookmark)"  title="{{'views.acciones.editarmarcadores' | translate}}" ng-disabled="!bookmark.canUpdate"><i class="lui-icon lui-icon--edit"></i></button>
                            <button class="item-option-bookmark item-option-bookmark-active" ng-click="applyBookmark(bookmark.id, bookmark, $event)" title="{{'views.acciones.aplicarmarcadores' | translate}}"><i class="lui-icon lui-icon--tick"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mz-add-bookmark">

                                <button  class="mz-btn-dark" ng-click="newBookmark();"><i class="lui-icon  lui-icon--plus float-left"></i> {{'views.acciones.aniadirmarcadores'  | translate}}</button>
            </div>
        </div>
    </div>
</div>
