<div class="mz-alerting cover-option-object">
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" ng-click="editar()">
        <i class="lui-list__aside item-icon ri-notification-3-line qs-no-margin"></i></a>
    <div class="list-alert">
        <div class="list-alert-title">
            <span>{{'alerting.dial.alertas' | translate}} <span ng-if="alerts.length>0" class="badge list-alert-badge">{{alerts.length}}</span> </span>
            <div class="options-alert">
                <button ng-disabled="alerts.length==0" title="{{'alerting.label.leertodas' | translate}}" class="item-option-alert item-option-alert-active" ng-click="readAll()">
                    <i class="lui-icon lui-icon--tick"></i>
                </button>
                <button title="Editar alerta" class="item-option-alert item-option-alert-active" ng-click="editar()">
                    <i class="lui-icon lui-icon--edit"></i>
                </button>
            </div>
        </div>
        <div class="wrapper">
            <div class="item-alert" ng-repeat="alert in alerts">
                <div class="content-options">
                    <div class="item-alert-title">
                        <span class="date-alert" ng-class="alert.type"> <i class="icofont" ng-class="alert.icon"></i>
                            {{alert.date | date:'dd/MM/yyyy HH:mm'}}</span>
                        <span class="title-alert">{{alert.name}}</span>
                    </div>
                    <div class="options-alert">
                        <button title="{{'alerting.label.leeralerta' | translate}}" class="item-option-alert item-option-alert-active"
                            ng-click="read(alert)"><i class="lui-icon lui-icon--tick"></i></button>
                    </div>
                </div>
                <div class="item-alert-description" ng-if="alert.message">
                    {{alert.message}}
                </div>
            </div>
        </div>
    </div>
</div>