<div class="lui-dialog lui-dialog-mz" style="width: 600px;">
    <div class="lui-dialog__header">
        <div class="lui-dialog__title">{{'equalizer.modal.atencion' | translate}}</div>
    </div>
    <div class="lui-dialog__body">
        <div class="control-label control-label-message" ng-bind-html="message"></div>                 
    </div>
    <div class="lui-dialog__footer">        
        <button  class="lui-button lui-dialog__button close-button" ng-click="addBookmarkConfirmPublic();">{{'views.modal.aceptar' | translate}}</button>
        <button class="lui-button lui-dialog__button" ng-click="closeDialog();">{{'views.modal.cerrar' | translate}}</button>
    </div>
</div>