<div class='lui-modal-background'></div>
<div class='lui-dialog lui-dialog-mz deleteDefinitionDialog'>
    <div class='lui-dialog__header'>
        <div class='lui-dialog__title'>{{'alerting.label.confirmacion' | translate}}</div>
    </div>
    <div class='lui-dialog__body'>
       {{'alerting.label.confirdelete' | translate}}
    </div>
    <div class='lui-dialog__footer'>
        <button class='lui-button  lui-dialog__button' ng-click='delete(definition)'>{{'views.modal.aceptar'  | translate}}</button>
        <button class='lui-button  lui-dialog__button close-button' ng-click='close()'>{{'alerting.label.cancel' | translate}}</button>        
    </div>
</div>