<div class="filtersInMenu">
    <div class="coverFilter isFilter">
        <objectsense object-id="PmmtmQ" is-kpi="true"></objectsense>
    </div>
    <div class="coverFilter">
        <label class="lui-radiobutton">
            <input class="lui-radiobutton__input" type="radio" name="radioSelected"  ng-model="selectedOption"  value="mesactual" ng-change="changeModel('mesactual')">
            <div class="lui-radiobutton__radio-wrap">
                <span class="lui-radiobutton__radio"></span>
                <span class="lui-radiobutton__radio-text">Mes actual</span>
            </div>
        </label>
        <label class="lui-radiobutton">
            <input class="lui-radiobutton__input" type="radio" name="radioSelected"  ng-model="selectedOption"  value="mesvencido" ng-change="changeModel('mesvencido')">
            <div class="lui-radiobutton__radio-wrap">
                <span class="lui-radiobutton__radio"></span>
                <span class="lui-radiobutton__radio-text">Mes Vencido</span>
            </div>
        </label>
    </div>
</div>
