<div id="panel-options" ng-class="OpenOptionsPanel == true ? 'active' : '' " ng-controller="mzOptionsCtrl">
    <header id="panel-options-header">
        <h2><i class="lui-icon lui-icon--cogwheel"></i>{{'views.label.preferencias' | translate}}</h2>
        <span class="close-panel-options" ng-click="toggleMzOptions($event)">
            <i class="lui-icon lui-icon--close"></i>
        </span>
    </header>
    <section id="panel-options-body">

        <div class="tab-view-wrapper" id="tab-view-wrapper">
            <lui-tab-view id="lui-tabview">
                <lui-tabset>                    
                    <lui-tab ref="tab_marcadores">
                        <span class="tab-item">
                            <span class="tab-item-ico lui-icon lui-icon--bookmark qs-no-margin" aria-hidden="true"></span>
                            <span class="texto">{{'views.acciones.marcadores' | translate}}</span>
                        </span>
                    </lui-tab>
                    <lui-tab ref="tab_filtros" ng-click="resizeFilters();">
                        <span class="tab-item">
                            <span class="tab-item-ico lui-icon lui-icon--filterpane qs-no-margin" aria-hidden="true"></span>
                            <span class="texto">{{'views.acciones.filtros' | translate}}</span>
                            <span class="badge badge-default badgeFilterPanel" ng-if="!NoFiltersSelected">
                                {{totalFiltros}}
                            </span>
                        </span>
                    </lui-tab>
                    <lui-tab ref="tab_glosario">
                        <span class="tab-item">
                            <span class="tab-item-ico lui-icon lui-icon--library qs-no-margin" aria-hidden="true"></span>
                            <span class="texto">{{'views.label.glosario' | translate}}</span>
                        </span>
                    </lui-tab>
                    <lui-tab ref="tab_alertas" ng-if="mzAlerting">
                        <span class="tab-item">
                            <span class="tab-item-ico ri-notification-3-line qs-no-margin" aria-hidden="true"></span>
                            <span class="texto">{{'views.label.alertas' | translate}}</span>
                            <span class="badge badge-pill badge-danger">{{(BubbleAlerts | filter:{read_at:null}).length}}</span>
                        </span>
                    </lui-tab>
                    <lui-tab ref="tab_ayuda">
                        <span class="tab-item">
                            <span class="tab-item-ico lui-icon lui-icon--info qs-no-margin" aria-hidden="true"></span>
                            <span class="texto">{{'views.acciones.ayuda' | translate}}</span></span>
                        </span>
                    </lui-tab>
                    <lui-tab ref="tab_mode" ng-if="ModeView">
                        <span class="tab-item">
                            <span class="tab-item-ico icofont icofont-moon" ng-if="!darkView"></span>
                            <span class="tab-item-ico icofont icofont-sun-alt" ng-if="darkView"></span>
                            <span class="texto">{{'views.label.modo' | translate}}</span></span>
                        </span>
                    </lui-tab>


                                                        </lui-tabset>
                <lui-tab-content class="tabs-content tab_alertas" ref="tab_alertas" ng-if="mzAlerting">
                    <mzoptionsalertas></mzoptionsalertas>
                </lui-tab-content>
                <lui-tab-content class="tabs-content tab_marcadores" ref="tab_marcadores">
                    <mzoptionsmarcadores idapp="{{appID}}"></mzoptionsmarcadores>
                </lui-tab-content>
                <lui-tab-content class="tabs-content tab_filtros" ref="tab_filtros">
                    <mzoptionsfilters idfiltro="{{IdFiltros}}"></mzoptionsfilters>
                </lui-tab-content>
                <lui-tab-content class="tabs-content tab_glosario" ref="tab_glosario">
                    <mzoptionsglosario idapp="{{appID}}"></mzoptionsglosario>
                </lui-tab-content>
                <lui-tab-content class="tabs-content tab_ayuda" ref="tab_ayuda">
                    <mzoptionshelp></mzoptionshelp>
                </lui-tab-content>
                <lui-tab-content class="tabs-content tab_mode" ref="tab_mode">
                    <mzoptionsmode></mzoptionsmode>
                </lui-tab-content>
            </lui-tab-view>
        </div>               
    </section>
</div>
